/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-25, 20:12:07
    Author     : dominik
*/
body, html, head,div{
    margin:0;
    padding:0;
}
#map{
    width:100%;
    height: 100%;
}
#panel{
    height:75%;
    border:7px solid #CCCCCC;
    position: absolute;
    top:100px;
    left:100px;
    width:250px;
    padding:20px;
    background-color: #FFF;
}
#panel_event{
    display: none;
    padding:20px;
    background-color: #FFF;
    border:7px solid #CCCCCC;
    position: absolute;
    width:500px;
    top:100px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
#location{
    position: absolute;
    top:25px;
    left:100px;
    z-index: 1000;
    padding: 5px 10px;
    font-size: 16px;
    width:304px;
    border:7px solid #CCCCCC;
}
#login{
    position: absolute;
    top:50px;
    right:50px;
    background-color: #FFF;
}
#filter{
    display: none;
}
#logo{
    position: absolute;
    width:254px;
    top:10px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.infobox{
    position: absolute;
    width:200px;
    height:50px;
    background-color: #FFF;
    border: solid 1px black;
}

.clear{
    clear:both;
}


#event .zamknij{
    position: absolute;
    right:10px;
    top:10px;
}
.eventsmallpicture {
    float: left;
}
.event h3, .event p, #event h3, #event h4, #event p{
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#event p{
    font-size: 13px;
}
#event .eventdetails h3, #event .eventdetails h4, #event .eventdetails p{
    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#event .eventdetails p {
    font-size: 15px;
}
.eventsmallinfo {
    font-size: 15px;
    text-align: right;
}
.event{
    margin-bottom: 10px;
}
.event:hover{
    background-color: #EEEEEE;
}
.event p, .event h3{
    color:black;
    text-decoration: none;
}