/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-25, 20:12:07
    Author     : dominik
*/
body, html, head,div{
    margin:0;
    padding:0;
}
#map{
    width:100%;
    height: 100%;
}
#panel{
    height:60%;
    border:7px solid #CCCCCC;
    position: absolute;
    top:150px;
    left:100px;
    width:200px;
    padding:20px;
    background-color: #FFF;
}
#panel_event{
    display: none;
    padding:20px;
    background-color: #FFF;
    border:7px solid #CCCCCC;
    position: absolute;
    width:500px;
    top:150px;
    height:60%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
#location{
    position: absolute;
    top:50px;
    left:100px;
    z-index: 1000;
    padding: 5px 10px;
    font-size: 16px;
    width:254px;
    border:7px solid #CCCCCC;
}
#login{
    position: absolute;
    top:50px;
    right:50px;
    background-color: #FFF;
    padding:20px;
    border:7px solid #CCCCCC;
}

.infobox{
    width:200px;
    height:50px;
    background-color: #FFF;
    border: solid 1px black;
}

.clear{
    clear:both;
}


#event .zamknij{
    position: absolute;
    right:10px;
    top:10px;
}